.container{
    width: 300px;
    height: 200px;
    background-color: goldenrod;
    margin-left: 50px;
    
}
.inner{
    width: 200px;
    height: 200px;
    background-color: azure;
    margin-left: 50px;
     transition: background-color 500ms ease-in 500ms, transform 500ms ease-in ;
}
.inner:hover{

    background-color: aqua;
    transform: rotate(10deg) scale(1.1) translateX(20px);
}