.container{
    width: 300px;
    height: 200px;
    background-color: goldenrod;
    margin-left: 50px;
    
}
.inner{
    width: 200px;
    height: 200px;
    background-color: azure;
    margin-left: 50px;
    transform: translate(20px);
    
}
.inner:hover{
    transform: rotate(40deg) scale(.7 , .6);
}